@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title> </title>
    <link rel="stylesheet" href="~/Content/ContactoStilos.css">
    <link rel="stylesheet" href="~/Content/Style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="contacto1">
    <div class="container1">
        <div class="content">
            <div class="left-side">
                <div class="address details">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="topic">Dirección</div>
                    <div class="text-one">Jr 28 De Julio 148</div>
                    <div class="text-two">1260 Miraflores - LIMA </div>
                </div>
                <div class="phone details">
                    <i class="fas fa-phone-alt"></i>
                    <div class="topic">Teléfono</div>
                    <div class="text-one">933558710</div>
                    <div class="text-two">933667788</div>
                </div>
                <div class="email details">
                    <i class="fas fa-envelope"></i>
                    <div class="topic">Correo</div>
                    <div class="text-one">FerrImerio@gmail.com</div>
                    <div class="text-two">MateoFerrimperio@gmail.com</div>
                </div>
            </div>
            <div class="right-side">
                <div class="topic-text">Mandanos un mensaje</div>
                <p>Si tienes alguna consulta puedes enviarme un mensaje desde aquí. Es un placer poder ayudar.</p>
                <form action="#">
                    <div class="input-box">
                        <input type="text" placeholder="Ingresa tu Nombre">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="ingresa tu Correo">
                    </div>
                    <div class="input-box message-box">

                    </div>
                    <div class="button">

                        <input type="submit" value="ENVIAR">

                    </div>


                </form>
            </div>
        </div>
    </div>
</body>
</html>